:root {
  --primary1: #1e3b68;
  --primary2: #355990;
  --primary3: #8ca2c2;
  --accent: #ff8e1d;
  --error: #ffb2b2;
  --success1: #70bf75;
  --success2: #f0fcf3;
  --grey1: #d8d8da;
  --grey2: #e4e3e3;
  --text: #676767;
  --background: #f7f7f7;
  --white: #ffffff;
}
